* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.text-primary {
  color: #008e89;
}

.text-secondary {
  color: #051367;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
img {
  display: block;
  width: 100%;
}
.text-right{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
